<!--The content below is only a placeholder and can be replaced.-->
<app-navigation-bar></app-navigation-bar>

<div class="container">

  <div class="TopTitle">

    Welcome to {{ title }}!

  </div>

  <br>


  <div class="Bodytext">

    Movie Title

  </div>

  <div class="MovieImg">

    <img width="250" height="300" alt="Poster" src="assets/movieposter.png" alt="Official Movie Poster">

  </div>


  <div class="Bodytext">

    Short Description

  </div>


  <div class="Bodytext">

    Release Date

  </div>


  <div class="Bodytext">

    RunTime

  </div>

</div>


<app-footer-bar></app-footer-bar>